// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #2d4561;
  --ion-color-primary-rgb: 45,69,97;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #283d55;
  --ion-color-primary-tint: #425871;

  --ion-color-secondary: #4873a3;
  --ion-color-secondary-rgb: 72,115,163;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #3f658f;
  --ion-color-secondary-tint: #5a81ac;

  --ion-color-tertiary: #85c3e9;
  --ion-color-tertiary-rgb: 133,195,233;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #75accd;
  --ion-color-tertiary-tint: #91c9eb;

  --ion-color-success: #6d9f38;
  --ion-color-success-rgb: 109,159,56;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #608c31;
  --ion-color-success-tint: #7ca94c;

  --ion-color-warning: #ef9937;
  --ion-color-warning-rgb: 239,153,55;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #d28730;
  --ion-color-warning-tint: #f1a34b;

  --ion-color-danger: #e84d3d;
  --ion-color-danger-rgb: 232,77,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cc4436;
  --ion-color-danger-tint: #ea5f50;

  --ion-color-dark: #383e41;
  --ion-color-dark-rgb: 56,62,65;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #313739;
  --ion-color-dark-tint: #4c5154;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f7f7f7;
  --ion-color-light-rgb: 247,247,247;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d9d9d9;
  --ion-color-light-tint: #f8f8f8;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
  --ion-color-primary: #2d4561;
  --ion-color-primary-rgb: 45,69,97;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #283d55;
  --ion-color-primary-tint: #425871;

  --ion-color-secondary: #4873a3;
  --ion-color-secondary-rgb: 72,115,163;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #3f658f;
  --ion-color-secondary-tint: #5a81ac;

  --ion-color-tertiary: #85c3e9;
  --ion-color-tertiary-rgb: 133,195,233;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #75accd;
  --ion-color-tertiary-tint: #91c9eb;

  --ion-color-success: #6d9f38;
  --ion-color-success-rgb: 109,159,56;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #608c31;
  --ion-color-success-tint: #7ca94c;

  --ion-color-warning: #ef9937;
  --ion-color-warning-rgb: 239,153,55;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #d28730;
  --ion-color-warning-tint: #f1a34b;

  --ion-color-danger: #e84d3d;
  --ion-color-danger-rgb: 232,77,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cc4436;
  --ion-color-danger-tint: #ea5f50;

  --ion-color-dark: #383e41;
  --ion-color-dark-rgb: 56,62,65;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #313739;
  --ion-color-dark-tint: #4c5154;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f7f7f7;
  --ion-color-light-rgb: 247,247,247;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d9d9d9;
  --ion-color-light-tint: #f8f8f8;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
  --ion-background-color: #141d26;
  --ion-background-color-rgb: 20,29,38;

  --ion-text-color: #f7f7f7;
  --ion-text-color-rgb: 247,247,247;

  --ion-color-step-50: #1f2830;
  --ion-color-step-100: #2b333b;
  --ion-color-step-150: #363e45;
  --ion-color-step-200: #414950;
  --ion-color-step-250: #4d545a;
  --ion-color-step-300: #585e65;
  --ion-color-step-350: #63696f;
  --ion-color-step-400: #6f747a;
  --ion-color-step-450: #7a7f84;
  --ion-color-step-500: #868a8f;
  --ion-color-step-550: #919599;
  --ion-color-step-600: #9ca0a3;
  --ion-color-step-650: #a8abae;
  --ion-color-step-700: #b3b6b8;
  --ion-color-step-750: #bec1c3;
  --ion-color-step-800: #cacbcd;
  --ion-color-step-850: #d5d6d8;
  --ion-color-step-900: #e0e1e2;
  --ion-color-step-950: #ececed;

    --ion-item-background: #1f2830;

    --ion-card-background: #1f2830;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}

/* Optional CSS, this is added for the flashing that happens when toggling between themes */
ion-item {
  --transition: none;
}
